<template name="header">
    <link href='http://fonts.googleapis.com/css?family=Graduate' rel='stylesheet' type='text/css'>
    <div class="backgroundImage" style="background-image: url({{loadbg}})">
        <div class="bgGrad"></div>
    </div>
    <div id="someDiv" class="header-wrapper">
        <div class="main ui header">       
            <div class="headscrim"></div>
            <div class="scrimtext">
                {{constant 'title'}}

            </div>
                <div class='subheader'>
                    <p>
                    Here at the Eta Chapter of Sigma Pi, if there's one core belief we hold, it's that everything we do reflects on our character.  That's why we lead on campus, in the community, and in the classroom. That's also why you're seeing this page.    
                    </p>
                    <p>
                        As we build a website that reflects our committment to imbuing everything we do with a level of quality we can be proud of, we encourage you to visit our Facebook, Twitter, and Instagram pages.
                    </p>
                    <p>
                        And if you're an alumnus eager to get involved, sign up for our Alumni Mailing List.  If you'd like an update when the new site goes live, sign up below, we'd love to hear your thoughts.
                    </p>

                         </div>
            
        </div>
        <img class="ui small image" id="PurdueLogo" src="/images/Purdue-Sig-White-rgb.png">
    </div>
</template>